# Dependencies
node_modules/
backend/venv/
backend/__pycache__/
.next/
out/
build/

# Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# Misc
*.wav
*.mp3
*.log
firebase-admin.json
